<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="zh_TW">
<head>
    <title>{% block title %}Lazy Report{% endblock %}</title>
    <meta name="description" content="每週五下班前的 Weekly Report 也可以寫的很專業很快速 ...">
    <meta property="og:image" content="https://s3-ap-northeast-1.amazonaws.com/toomore/img/1430_b_pinkoi_gimp.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#86CE68">
    <link rel="icon" sizes="192x192" href="{{url_for('static', filename='checklist.png')}}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <style>body {padding-top: 70px;}</style>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if session.get('access_token') %}
                        <a class="navbar-brand" href="{{url_for('workspaces')}}"><i class="fa fa-check-square-o"></i> Asana Lazy Report</a>
                        <p class="navbar-text"><small>Hi {{session['name']}}~</small></p>
                    {% else %}
                        <a class="navbar-brand" href="{{url_for('home')}}"><i class="fa fa-check-square-o"></i> Asana Lazy Report</a>
                    {% endif %}
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {#
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    #}
                    {% if session.get('access_token')%}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{url_for('logout')}}"><i class="fa fa-sign-out"></i> 登出</a></li>
                        </ul>
                    {% endif %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container-fluid">
            {% block body %}{% endblock %}
            <div class="col-md-12">
                <p class="text-center">
                    <a target="_blank" href="http://toomore.net/"><i class="fa fa-user"></i></a>
                    <a target="_blank" href="https://github.com/toomore/asana_api"><i class="fa fa-github"></i></a>
                    <a target="_blank" href="https://pinkoi.slack.com/messages/@toomore/"><i class="fa fa-bug"></i></a>
                    {% if session.get('access_token') %}
                        <a href="{{url_for('cache_stats')}}"><i class="fa fa-database"></i></a>
                        <a href="{{url_for('user_info')}}"><i class="fa fa-eye"></i></a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80185-33', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
