{% extends "base.htm" %}
{% block title %}Cache Stats / {{session['name']}} - {{super()}}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        {% for mem in data %}
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-info-circle"></i> Memcache Stats {{mem[0]}}</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Key</td>
                            <td>Value</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for name in mem[1]|sort %}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{mem[1][name]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
