{% extends "base.htm" %}
{% block body %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="panel panel-success">
            <div class="panel-heading"><i class="fa fa-info-circle"></i> Lazy Weekly Report</div>
            <div class="panel-body bg-success">
                <div class="text-success"><i class="fa fa-comments-o"></i> 每週五下班前的 Weekly Report 也可以寫的很專業很快速 ...</div>
                <br>
                <a class="btn btn-success btn-block" href="{{login_url}}"><i class="fa fa-sign-in"></i> Login with Asana</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
