{% extends "base.htm" %}
{% block body %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <a class="btn btn-success btn-block" href="{{login_url}}">Login with Asana</a>
    </div>
</div>
{% endblock %}
